.lgShadow {
    background: rgb(201, 77, 0);
    padding: 3rem;
    top: 100px;
    position: relative;
    height: 100px;
    width: 200px;
    border-radius: 50%;
}
/* pseudo-class for making gradient shadow. */
  
.lgShadow::after {
    content: "";
    position: absolute;
    inset: -.625em;
    background: linear-gradient(to bottom right, 
        rgb(255, 0, 0), rgb(255, 213, 0));
    filter: blur(2.5em);
    border-radius: 50%;
    z-index: -1;
}